{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container-login">
            <form class="login" method="post">
                    {% csrf_token %}
                    <h1>Register</h1>
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for i in form %}
                        {{ i }}
                        <div class="form-error">{{ i.errors }}</div>
                    {% endfor %}
                    <button type="submit">REGISTER</button>
            </form>
        </div>
    </body>
</html>